[submodule "zipzap-web-client"]
	path = zipzap-web-client
	url = git@github.com:rudinesurya/zipzap-web-client.git
[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:rudinesurya/api-gateway.git
[submodule "api-gateway-interfaces"]
	path = api-gateway-interfaces
	url = git@github.com:rudinesurya/api-gateway-interfaces.git
[submodule "users-service"]
	path = users-service
	url = git@github.com:rudinesurya/users-service.git
[submodule "users-service-interfaces"]
	path = users-service-interfaces
	url = git@github.com:rudinesurya/users-service-interfaces.git
[submodule "token-service"]
	path = token-service
	url = git@github.com:rudinesurya/token-service.git
[submodule "token-service-interfaces"]
	path = token-service-interfaces
	url = git@github.com:rudinesurya/token-service-interfaces.git
[submodule "user-ratings-service"]
	path = user-ratings-service
	url = git@github.com:rudinesurya/user-ratings-service.git
[submodule "user-ratings-service-interfaces"]
	path = user-ratings-service-interfaces
	url = git@github.com:rudinesurya/user-ratings-service-interfaces.git
[submodule "jobs-service"]
	path = jobs-service
	url = git@github.com:rudinesurya/jobs-service.git
[submodule "jobs-service-interfaces"]
	path = jobs-service-interfaces
	url = git@github.com:rudinesurya/jobs-service-interfaces.git
[submodule "applications-service"]
	path = applications-service
	url = git@github.com:rudinesurya/applications-service.git
[submodule "applications-service-interfaces"]
	path = applications-service-interfaces
	url = git@github.com:rudinesurya/applications-service-interfaces.git
[submodule "messages-service"]
	path = messages-service
	url = git@github.com:rudinesurya/messages-service.git
[submodule "messages-service-interfaces"]
	path = messages-service-interfaces
	url = git@github.com:rudinesurya/messages-service-interfaces.git
[submodule "logger"]
	path = logger
	url = git@github.com:rudinesurya/logger.git